.cabecalho {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2rem 1rem;
    top: 0px;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.cabecalho__titulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--cor-primaria);
}

.cabecalho__menu {
    display: flex;
    color: var(--cor-primaria);
}

.cabecalho__menu__item {
    font-family: var(--fonte-principal);
    margin: 0 1rem;
    font-size: 1rem;
}

.cabecalho__menu__item a {
	font-weight: 300;
    color: var(--cor-primaria);
}

.cabecalho__curriculo {
    border-radius: 16px;
    background-color: #7B7CF1;
    padding: 1rem;
    border: none;
    font-family: var(--fonte-principal);
    font-weight: 800;
    color: var(--cor-primaria);
}

.cabecalho__curriculo:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}