.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 2rem;
    grid-area: main;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 4rem;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__row {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 2fr 3fr;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    grid-template-areas: 
                        "titulo foto"
                        "texto foto"
                        "linguagensUtilizadas foto";
} 

.main__row__titulo {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 2rem;
    grid-area: titulo;
}

.main__row__texto {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 1rem;
    margin-top: 0.9rem;
    word-spacing: 1px;
    grid-area: texto;
}

.main__row__icone {
    width: 30rem;
    margin-top: 2rem;
    grid-area: foto;
}

.main__linguagens__destaques {
    font-weight: 800;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    grid-area: titulo;
}

.main__linguagens {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    grid-area: linguagensUtilizadas;
    grid-template-areas: 
                        "tituloLU tituloLU tituloLU"
                        "html css js";
}

.linguagensUtilizadas {
    grid-area: tituloLU;
}

.css {
    grid-area: css;
}

.html {
    grid-area: html;
}

.js {
    grid-area: js;
}

.logoLinguagem {
    width: 5rem;
    margin-top: 2rem;
}

#main__portfolio {
    margin-top: 2rem;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.main__portfolio__titulo {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 2rem;
}

.main__portfolio__texto {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 1rem;
    margin-top: 0.9rem;
    word-spacing: 1px;
}

.main__portfolio__icone {
    width: 30rem;
    margin-top: 2rem;
}

.main__portfolio__projetos {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: "projeto2 projeto1 projeto";
}
.projeto1 {
    grid-area: projeto1;
}

.main__portfolio__projetos__projeto {
    display: grid;
    grid-template-rows: 1fr 7rem 1fr;
    grid-template-areas: 
                        "titulo"
                        "imagem"
                        "botao";

    padding: 1rem 0;
    border: 1px solid black;
    border-radius: 16px;
    justify-items: center;
}

.main__portfolio__projetos__projeto__texto {
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-weight: 800;
    grid-area: titulo;
}

.main__portfolio__projetos__projeto__imagem {
    width: 7rem;
    grid-area: imagem;
}

.main__portfolio__projetos__projeto__botao {
    background-color: #010409;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    padding: 0.8rem;
    color: var(--cor-primaria);
    font-weight: 800;
    border-radius: 16px;
    border: none;
    grid-area: botao;
}

.main__social {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-items: center;
    align-items: center;
    justify-items: center;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    padding: 1.5rem;
    border-radius: 18px;
    background-color: rgb(217, 217, 217);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat (3, 33%);
    grid-template-areas: 
                        "icone-linkedin titulo"
                        "icone-linkedin texto"
                        "icone-linkedin botao";
}

.main__social__titulo {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    margin-top: 0.9rem;
    word-spacing: 1px;
    grid-area: titulo;
    font-weight: 800;
}
.main__social__texto {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.9rem;
    word-spacing: 1px;
    grid-area: texto;
    text-align: justify;
}
.main__social__icone {
    grid-area: icone-linkedin;
    width: 10rem;
}

.main__social__url {
    border-radius: 16px;
    background-color: #7B7CF1;
    padding: 1rem;
    border: none;
    font-family: var(--fonte-principal);
    font-weight: 800;
    color: var(--cor-primaria);
}

.main__social__url:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}