@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /* PALETA DE CORES */
    --background-color: #19142A;
    --cor-primaria: #D9D9DC;
    --cor-secundaria: #a9a7ad;
    /* FONTES DO PORTFOLIO */
    --fonte-principal: "Roboto", sans-serif;
}


/* ESTILIZAÇÃO DO HEADER */

body {
    background-color: var(--background-color);
}

#dark {
    color: #CD0E10;
    font-weight: 800;
}

#light {
    color: #dbdbdb;
    font-weight: 500;
}

#pagina {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2rem 1rem;
    grid-area: header;
    position: sticky;
    top: 0px;
    background-color: var(--background-color);
    opacity: 0.8;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.cabecalho__titulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--cor-primaria);
}

.cabecalho__menu {
    display: flex;
    color: var(--cor-primaria);
}

.cabecalho__menu__item {
    font-family: var(--fonte-principal);
    margin: 0 1rem;
    font-size: 1rem;
}

.cabecalho__menu__item a {
	font-weight: 300;
	text-decoration: none;
    color: var(--cor-primaria);
}

.cabecalho__curriculo {
    border-radius: 16px;
    background-color: #7B7CF1;
    padding: 1rem;
    border: none;
    font-weight: 800;
    color: var(--cor-primaria);
}

/* ESTILIZAÇÃO DO MAIN */
.main {
    display: grid;
    grid-area: main;
    text-align: center;
    margin: 3rem 0;
    gap: 1rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 4rem;
}

/* .main__row {
}  */

.main__row__titulo,
.main__portfolio__titulo {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 2rem;
}

.main__row__texto,
.main__portfolio__texto {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 1rem;
    margin-top: 0.9rem;
    word-spacing: 1px;
}

.main__row__icone,
.main__portfolio__icone {
    width: 30rem;
    margin-top: 2rem;
}

.main__linguagens__destaques {
    font-weight: 800;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 2rem;
    grid-area: titulo;
}

.main__linguagens {
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 
                        "tituloLU tituloLU tituloLU"
                        "html css js";
    justify-content: space-evenly;
}

.linguagensUtilizadas {
    grid-area: tituloLU;
}
.css {
    grid-area: css;
}
.html {
    grid-area: html;
}
.js {
    grid-area: js;
}

.logoLinguagem {
    width: 5rem;
    margin-top: 2rem;
}

#main__portfolio {
    margin-top: 2rem;
}

.main__portfolio__projetos {
    border: 3px solid black;
    border-radius: 16px;
    margin-top: 1.5rem;
    display: grid;
    grid-template-rows: repeat(2, 3fr);
    grid-template-columns: repeat(2, 3fr);
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    grid-template-areas: 
                        "projeto1 projeto2"
                        "projeto3 projeto4";
}
.projeto1 {
    grid-area: projeto1;
}

.main__portfolio__projetos__projeto {
    width: 10%;
    text-align: center;
}
.main__portfolio__projetos__projeto__texto {
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-weight: 800;
}
.main__portfolio__projetos__projeto__imagem {
    width: 7rem;
}
.main__portfolio__projetos__projeto__botao {
    background-color: #010409;
    color: var(--cor-primaria);
    font-weight: 800;
    border-radius: 16px;
    border: none;
}