@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /* PALETA DE CORES */
    --background-color: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    --cor-primaria: #D9D9DC;
    --cor-secundaria: #a9a7ad;
    --cor-terciaria: #7f7e82;
    /* FONTES DO PORTFOLIO */
    --fonte-principal: "Roboto", sans-serif;
}


/* ESTILIZAÇÃO DO HEADER */

body {
    background: var(--background-color);
}

#dark {
    color: #CD0E10;
    font-weight: 800;
}

#light {
    color: #dbdbdb;
    font-weight: 500;
}

#pagina {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

* {
    font-family: var(--fonte-principal);
}

* {
    transition: all .3s;
}

a:hover {
    opacity: 0.6;
}