@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* PALETA DE CORES */
    --background-color: linear-gradient(91.7deg, rgb(50, 25, 79) -4.3%, rgb(122, 101, 149) 101.8%);
    --cor-primaria: #FAF2E8;
    --cor-secundaria: #CCC3BC;
    --cor-terciaria: #eeeeee;
    /* FONTES DO PORTFOLIO */
    --fonte-principal: "Kanit", sans-serif;
}

body {
    background: var(--background-color);
}

strong {
    font-weight: 800;
}

#dark {
    color: rgb(209, 209, 0);
}

#light {
    color: white;
    font-weight: 500;
}

#pagina {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

* {
    transition: all .3s;
}

a:hover {
    opacity: 0.6;
}