.cabecalho {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 2rem 1rem;
    top: 0px;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.cabecalho__titulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--cor-primaria);
    cursor: pointer;
}

.cabecalho__titulo:hover {
    text-shadow: 3px 0px 7px var(--cor-principal), -3px 0px 7px var(--cor-principal), 0px 4px 7px var(--cor-principal);
}

.cabecalho__menu {
    background-color: var(--background-color2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 24px;
    display: flex;
    color: var(--cor-primaria);
}

.cabecalho__menu__item {
    font-family: var(--fonte-principal);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 16px;
}

.cabecalho__menu__item:hover {
    opacity: 0.8;
    background-color: var(--background-color);
}

.cabecalho__menu__item a {
	font-weight: 300;
    color: var(--cor-primaria);
}

.cabecalho__curriculo {
    border-radius: 16px;
    background-color: var(--cor-principal);
    padding: 1rem;
    border: none;
    font-family: var(--fonte-principal);
    font-weight: 800;
    color: var(--cor-primaria);
}

.cabecalho__curriculo:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}