.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 2rem;
    grid-area: main;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 3rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__row {
    display: grid;
    row-gap: 1.5rem;
    column-gap: 3rem;
    justify-items: center;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    grid-template-areas: 
                        "titulo foto"
                        "texto foto"
                        "linguagensUtilizadas foto";
} 

.main__row__titulo {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 2rem;
    grid-area: titulo;
}

.main__row__texto {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 1.2rem;
    text-align: justify;
    word-spacing: 1px;
    grid-area: texto;
}

.main__row__foto {
    width: 30rem;
    grid-area: foto;
}

.main__linguagens__destaques {
    font-weight: 800;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    grid-area: titulo;
}

.main__linguagens {
    display: grid;
    justify-items: center;
    grid-area: linguagensUtilizadas;
    grid-template-areas: 
                        "tituloLU tituloLU tituloLU"
                        "html css js";
}

.linguagensUtilizadas {
    grid-area: tituloLU;
}

.css {
    grid-area: css;
}

.html {
    grid-area: html;
}

.js {
    grid-area: js;
}

.logoLinguagem {
    width: 5rem;
}

#main__portfolio {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    row-gap: 1rem;
}

.main__portfolio__titulo {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    font-size: 2rem;
}

.main__portfolio__texto {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 1rem;
    word-spacing: 1px;
}

.main__portfolio__icone {
    width: 30rem;
}

.main__portfolio__projetos {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: "projeto2 projeto1 projeto";
}
.projeto1 {
    grid-area: projeto1;
}

.main__portfolio__projetos__projeto {
    display: grid;
    grid-template-rows: 7rem 1fr 1fr;
    grid-template-areas: 
                        "imagem"
                        "titulo"
                        "botao";

    padding: 1rem 0;
    border-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%) 1;
    justify-items: center;
}

.main__portfolio__projetos__projeto__texto {
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-weight: 800;
    grid-area: titulo;
}

.main__portfolio__projetos__projeto__imagem {
    width: 7rem;
    grid-area: imagem;
}

.main__portfolio__projetos__projeto__botao {
    background-color: #2B3137; /* COR DO GITHUB */
    background-image: url('/src/assets/github-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2rem;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    padding: 1rem 0.5rem 1rem 2rem;
    color: var(--cor-primaria);
    font-weight: 800;
    border-radius: 16px;
    border: none;
    grid-area: botao;
}

.main__portfolio__projetos__projeto__botao:hover {
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}